<!DOCTYPE html>
<html>
<head>
    <title>View All Orders</title>
    <link rel="stylesheet" type="text/css" href='/static/styles.css'>
</head>
<body>
    <header>
        <h1>View All Orders</h1>
    </header>
    <div class="container">
        <ul class="order-list">
            {% for order in orders %}
                <li class="order-item">
                    <div class="order-info">
                        <p><strong>Order ID:</strong> {{ order.id }}</p>
                        <p><strong>Item ID:</strong> {{ order.item_id }}</p>
                        <p><strong>Quantity:</strong> {{ order.quantity }}</p>
                        <p><strong>Status:</strong> {{ order.status }}</p>
                    </div>
                    <div class="update-link">
                        <a href="{% url 'zomotoApp:update_order_status' order.id %}">Update Status</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="fab-container">
            <a href="{% url 'zomotoApp:show_menu' %}" class="fab">View Menu</a>
            <a href="{% url 'zomotoApp:add_item_to_menu' %}" class="fab" >Add Item to Menu</a>
            <a href="{% url 'zomotoApp:view_all_orders' %}" class="fab">View All Orders</a>
        </div>
    </div>
</body>
</html>
